@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter",serif;
}
.rotate_me{
  transform: rotate(26.42deg);
  animation: animName 2s linear infinite;
}
@keyframes animName {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(45deg);
  }
}
